alias
example
node_modules
config
demo
test
dist
bin
src
.vscode
.idea
.babelrc
.editorconfig
.eslintrc.js
package-lock.json
tsconfig.json
tslint.json
.project
DOC.md
README.md
rollup.config.js
webpack.config.js
karma.conf.js
